// Place all the styles related to the recents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
/*@import "bootstrap/theme";*/

/*
.recents .admin {
display: none;
}

.recents.hover .admin {
display: inline;
}

.meta {
	padding: 40px,0,40px,0;
}

.recents .date .distance {
	margin: 400px, 0, 400px 0;
}

*/